@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body{
    margin: 0;
    background-color: rgb(251, 248, 245);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    width: 100%;
    display: flex;
    gap: 40px;
    margin: 40px 10px   ;
    justify-content: space-evenly;
}
.logo{
    height: 5px;
    width: 90px;
}
.right-navbar{
    gap: 40px;
    display: flex;
    align-items: center;
}
.search-bar{
    padding: 14px 40px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: rgba(0, 0, 0, 0.495);
}
.signup{
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 13px 19px;
}
.left-navbar{
    display: flex;
    gap: 60px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 12px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .header-container{
    margin: 100px auto; 
    padding: 50px auto;
    width: 990px;
    text-align: center;
  }

  .badge{
    margin: auto;
    border-radius: 40px;
    width: 300px;
    font-size: 14px;
    font-weight: bolder;
    padding: 0 16px;
    /* text-align: center; */
    border: 1px solid lightgrey;
  }
  h1{
    font-family: "Maitree", serif;
    font-weight: 300;
    font-style: normal;
    margin: 60px auto;
    max-width: 870px;
    text-align: center;  
    font-size: 72px;
    line-height: 76px;
  }
  .content{
    text-align: center;
    font-size: 20px;
    font-weight: 250;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .header-button{
    text-align: center;
  }
  .start{
    margin: 32px 0 0;    
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    background-color: black;
    border: none;
    color: white;
    padding: 24px;
  }
  .cards{
    display: flex;
    gap: 40px;
    margin-top: 60px;
    width: 2170px;
    animation-name: card-play;
    animation-duration: 10s;
    transition: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-timing-function: linear;
  }
  .card-section{
    overflow: hidden;
  }
  .card{
    width: 300px;
    height: 400px;
    /* background-color: orangered; */
    border-radius: 18px;
    border: none;

  }
  .cards::-webkit-scrollbar{
    display: none;
  }
  @keyframes card-play{
    0%{
    }
    100%{
        transform: translate(-50%);
    }
  }
  .card-img{
    object-fit: fill;
    width: 300px;
    height: 400px;
    border-radius: 18px;
  }